@import "tailwindcss";
@plugin "daisyui" ;



/* fonts */
*{
   font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


@plugin "daisyui/theme" {
  name: "light";
  default: true;
--color-primary: #7C3AED;      
--color-secondary: #E8BFFB;    
--color-base-200: #F9FAFB;      
--color-base-300: #EDE9FE;      
--color-accent: #6D28D9;       
}